<layout name='layout' />
<div class="form-div">
    <form action="__ACTION__" name="searchForm" method="get">
        <p>
           分　　类：
           <select name="cat_id" >
               <option value="">请选择主分类</option>
               <foreach name='cats' item = 'v' >
                <option value="{$v.id}" <?php echo $v['id'] == I('get.cat_id') ? 'selected' : '' ?> ><?=str_repeat('-',4*$v['level']).$v['cat_name']; ?></option>
               </foreach>
           </select>
        </p>
        <p>
           品　　牌:
           <?php buildSelect('brand','brand_id','id','brand_name',I('get.brand_id')) ?>
        </p>
        <p>商品名称：<input type="text" name="gn" value="<?=I('get.gn')?>" /></p>
    
        <p>
            价　　格：
            从 <input type="text" name="fp" value="<?=I('get.fp')?>" />
            到 <input type="text" name="tp" value="<?=I('get.tp')?>" />
        </p>
        
        <p>
            是否上架：
            <?php $ios = I('get.ios')?>
            <input type="radio" name="ios" value="" <?php echo $ios == '' ? 'checked' : '' ?> />全部
            <input type="radio" name="ios" value="是" <?php echo $ios == '是' ? 'checked' : '' ?>  />上架
            <input type="radio" name="ios" value="否" <?php echo $ios == '否' ? 'checked' : '' ?>  />下架
        </p>

        <p>
            添加时间:
            从 <input type="text" name="fa" value="<?=I('get.fa')?>" id='fa' />
            到 <input type="text" name="ta" value="<?=I('get.ta')?>" id='ta' />
        </p>
        <p>
            排序方式：
            <?php $odby = I('get.odby','id_desc');//如果odby为空，默认排序为id_descs   ?>
            <input onclick="this.parentNode.parentNode.submit();" type="radio" value="id_desc" name="odby" <?php echo $odby == 'id_desc' ? 'checked' : '' ?>  /> 以添加时间降序
            <input onclick="this.parentNode.parentNode.submit();" type="radio" value="id_asc" name="odby" <?php echo $odby == 'id_asc' ? 'checked' : '' ?>  /> 以添加时间升序
            <input onclick="this.parentNode.parentNode.submit();" type="radio" value="price_desc" name="odby" <?php echo $odby == 'price_desc' ? 'checked' : '' ?> /> 以价格降序
            <input onclick="this.parentNode.parentNode.submit();" type="radio" value="price_asc" name="odby" <?php echo $odby == 'price_asc' ? 'checked' : '' ?> /> 以价格升序
        </p>
        <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>

<!-- 商品列表 -->
<form method="post" action="__ACTION__" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>商品名称</th>
                <th>品牌</th>
                <th>主分类</th>
                <th>扩展分类</th>
                <th>市场价格</th>
                <th>本店价格</th>
                <th>商品logo</th>
                <th>是否上架</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            <foreach name="data" item="val">
            <tr>
                <td align="center">{$val.id}</td>
                <td align="center" class="first-cell"><span>{$val.goods_name}</span></td>
                <td align="center" ><span>{$val.brand_name}</span></td>
                <td align="center" ><span>{$val.cat_name}</span></td>
                <td align="center" ><span>{$val.ext_name}</span></td>
                <td align="center"><span onclick="">{$val.market_price}</span></td>
                <td align="center"><span>{$val.shop_price}</span></td>
                <td align="center"><span><?php showImage($val['sm_logo'],50,50)?> </span></td>
                <td align="center"><span>{$val.is_on_sale}</span></td>
                <td align="center"><span><?=date('Y-m-d',$val['addtime'])?></span></td>
                <td align="center">
                <a href="{:U('edit',array('id' => $val['id']))}" title="编辑"><img src="__PUBLIC__/Admin/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
                <a onclick="return confirm('你确定要放入回收站吗？');" href="{:U('recycle',array('id' => $val['id']))}" title="回收站"><img src="__PUBLIC__/Admin/Images/icon_trash.gif" width="16" height="16" border="0" /></a>
                </td>
            </tr>
            </foreach>
        </table>

    <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    {$page}
                </td>
            </tr>
        </table>
    <!-- 分页结束 -->
    </div>
</form>


<!-- 引入时间插件 -->
<link href="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/datepicker-zh_cn.js"></script>
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.css" />
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
<script>
// 添加时间插件
$.timepicker.setDefaults($.timepicker.regional['zh-CN']);  // 设置使用中文 

$("#fa").datetimepicker();
$("#ta").datetimepicker();
</script>